:root {
	--mainColor: #5da8f3;
	--secondColor: #416cb3;
}
html {
	/* direction: rtl; */
	/* text-align: right; */
}
header {
	/* background-color: yellowgreen; */
	/* text-align: left; */
}
.logo {
	/* width: 100%; */
	/* background-color: yellow; */
	margin-right: auto;
}
body {
	font-family: "Cairo", sans-serif;
	font-size: 18px;
	word-spacing: 2px;
}
.home {
	text-align: center;
}
.home p {
	font-size: 16px;
	line-height: 1;
}
.choose ul {
	direction: rtl;
}
.easy .details p {
	letter-spacing: 0px;
	font-weight: 600;
	color: rgb(118, 137, 194);
	font-size: 16px;
}

.home-mobile-details {
	/* background-color: red; */
	padding-right: 30px;
}
.home-mobile-details .title {
	font-weight: 700;
	word-spacing: 2px;
	font-size: 22px;
}
.home-mobile-details p{
	line-height: 1.7;
}
.choose-mob .choose-ul-list {
	direction: rtl;
	text-align: right;
}
.choose-img-ar {
	/* background-color: red; */
	/* width: 50px;
    height: 50px;*/
}
.choose-img-ar img {
	width: 90%;
}
.easyTitle {
	font-family: "Cairo", sans-serif;
	margin: 50px 0 100px 0;
	font-weight: 700;
	word-spacing: 2px;
	font-size: 28px;
	text-align: center;
	color: var(--secondColor);
}
/* 
ect option{
	text-align: right;
	color: red;
	
} */
.modal-title {
	margin-left: auto;
}
.final-title-ar{
	
	font-size:18px;
	font-weight: 700;
}
.tik-ar{
	/* background-color: rgb(221, 216, 216); */
	width: 100%;
	margin-left: -30px;
	/* margin: auto; */
	/* text-align: left; */
}

@media (max-width: 768px) {
	.easyTitle {
		
		font-size: 20px;
		font-weight: 700;
		/* background-color: red; */
		padding: 40px;
		margin-top: 50px;
		/* color: aqua; */
	}
}