:root {
	--mainColor: #5da8f3;
	--secondColor: #416cb3;
}

.header{
	display: flex;
	justify-content:space-between;
	/* align-items: flex-end; */
	
}
.cont{
	width: 90%;
	margin: auto;
}
.lang{
	color: var(--mainColor);
	
	/* margin-top: 10px; */
}
 .lang img{
	position: relative;
	left: 40px;
	/* cursor: pointer; */
} 
/* .container{
	width: 90%;
} */

select {
	margin-left: auto;
	cursor: pointer;
	/* text-align: center; */
	/* padding: 5px; */
	color: var(--secondColor);
	background-color: white;
	 border: none;
	 width:60px;
	 height: 40px;								
	 /* background-color: red;  */
	/* border: 2px solid var(--mainColor); */
	/* border-radius: 8px;  */
	
}
body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Cairo", sans-serif;
	
}

#easy1 #lefArrow,#easy5 #rightArrow {
	color: gainsboro;
}
/* #rightArrow{
	color: var(--mainColor);
} */

.logo {
	margin-top: 10px;
	width: 120px;
	height: 0px;
	/* background-color: aqua; */
}
.logo img {
	width: 100%;
}
.parent {
	position: relative;
	background-color: var(--mainColor);
	clip-path: polygon(0% 0%, 100% 0%, 90% 90%, 0% 100%);
}
.home-section {
	/* position: absolute; */
	background-image: url("../images/ronnie-george-9gGvNWBeOq4-unsplash.jpg");
	min-height: 500px;
	background-attachment: scroll;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;

	position: relative;
	height: 50vh;
	width: 100%;
	clip-path: polygon(0px 0px, 100% 0px, 88% 80%, 0px 100%);

	background-color: var(--mainColor);
}
header .container {
	height: 40px;
}

.home-details {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-105%, -50%);
	color: white;
}


.mobiles .img1 {
	width: 300px;
	height: 300px;
	margin-left: auto;
}
.mobiles .img1 img {
	position: relative;
	bottom: 230px;
}
.mobiles .img2 img {
	position: relative;
	bottom: 150px;
}
.mobiles .img2 {
	margin-right: auto;

	width: 200px;
	height: 200px;
}
.mobiles img {
	width: 100%;
}
.mobile-sec1 .img {
	width: 150px;
	height: 150px;

	/* background-color: tomato; */
}
.choose {
	min-height: 400px;
	background-color: var(--mainColor);
}
.choose-img {
	width: 200px;
	height: 200px;
}
.easy-img {
	width: 300px;
	height: 300px;
}
.easy i {
	text-align: right;
	margin-top: 150px;
	color: var(--mainColor);
	font-size: 100px;
}
.easy i.right {
	margin-left: auto;
	display: block;
}

.easy .details {
	margin-top: 150px;
	color: var(--mainColor);
	/* font-family: "Cairo", sans-serif; */
}
.easy .details {
	color: var(--secondColor);
}
.easy .details p {
	color: var(--secondColor);
	font-weight: 300;
	font-family: "Cairo", sans-serif;
	font-size: 16px;
	letter-spacing: 2px;
	text-transform: capitalize;
}

.carousel-item {
	width: 100%;
	height: 100%;
	/* margin-left: auto; */
	/* background-color: lawngreen; */
}
.final-img{
	width: 100%;
	height: 100%;
	/* margin-left: auto; */
	/* background-color: red; */
}
.easyTitle {
	font-family: "Cairo", sans-serif;
	margin: 50px 0 100px 0;
	font-weight: 600;
	word-spacing: 2px;
	font-size: 40px;
	text-align: center;
	color: var(--secondColor);
}
.freq {
	color: white;
	margin-top: 450px;
	text-align: center;
	height: 200px;
	background-image: url("../images/ronnie-george-9gGvNWBeOq4-unsplash.jpg");
	background-attachment: scroll;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
.freq div {
	position: relative;
	top: 40%;
}
.freq div h2 {
	font-weight: 700;
	font-size: 40px;
	word-spacing: 2px;
}
.questions h3 {
	text-align: right;
	color: var(--secondColor);
	font-weight: 700;
	font-size: 16px;
}
.questions p {
	font-weight: 500;
	color: var(--secondColor);
	line-height: 1.8;
}
footer {
	background-color: var(--secondColor);
	color: white;
	min-height: 300px;
	margin-top: 150px;
}
footer .img {
	width: 120px;
	height: 50px;
	margin: 30px 30px;
	/* background-color: violet; */
}
footer .do {
	display: block;
	font-weight: 900;
}
footer .col2 {
	text-align: center;
}
footer .col2 img {
	width: 40px;
	height: 40px;
	margin: 5px;
}
footer .col3 {
	text-align: center;
	/* background-color: var(--mainColor); */
}
footer .col3 .img {
	display: flex;
	justify-content: space-between;
	align-items: center;
	/* background-color: yellow; */
	width: 100%;
}
footer .col3 p {
	font-weight: 500;
	font-size: 18px;
	word-spacing: 2px;
}
/* footer .col3 .img img {
	width: 80%;
	height: 80%;
} */

.appstore,.googleplay{
	margin: 10px;
	width: 50%;
	height: 50%;
	/* background-color: violet; */
}
.appstore img,.googleplay img{
	width: 100%;
}


.easy .arrow:hover{
    color:var(--secondColor)
}

.easy .arrow:active.easy{
	/* animation: flip 2s; */
	background-color: red;

}








.active{
	color: var(--secondColor);
	
}


.fadeIn {
	-webkit-animation-name: fadeIn;
	animation-name: fadeIn;
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
	}
	@-webkit-keyframes fadeIn {
	0% {opacity: 0;}
	100% {opacity: 1;}
	}
	@keyframes fadeIn {
	0% {opacity: 0;}
	100% {opacity: 1;}
	} 





@media (max-width: 768px) {

	footer{
		/* vertical-align:top; */
	}
	.home-details {
		top: 60%;
		/* background-color: red; */
		width: 90%;
		transform: translate(-50%, -50%);
		color: rgb(241, 241, 241);
        padding: 0 13px;
	}
    .home-details .title{
        margin-bottom: 10px;
    font-size: 24px;

    }
    .mobiles .img1 img {
       
        bottom: 0px;
        right: 70px;
    }
    .mobiles .img1 {
        margin-top: 50px;
        width: 200px;
        height: 200px;
        margin-right: auto;
    }
    .mobiles .img2 img {
        position: relative;
        bottom: 150px;
        left: 80px;
    }
    .mobiles .img2 {
        margin-left: auto;
    
        width: 120px;
        height: 120px;
    }
    .imgInMobile{
        display: flex;
        justify-content: space-between;
        align-items: center;
       margin-bottom: 50px;
    }
    .imgInMobile img{
    width: 49%;
    height: 49%;
    }
    .choose-mob{
        padding: 10px;
    }
    .choose-mob .choose-img{
        text-align: center;
        width: 120%;
        height: 120%;
    }
    .chooseDiv{
        display: flex;
        justify-content: space-around;
    }
    .choose-mob-img2{
        position: relative;
        right: 20px;
    }
    .easymob{
        margin-top: 0px;
    }
	.easymob .container{

		/* background-color: lawngreen; */
		margin-top: -100px;
	}
    .easymob .title {
        font-weight: 700;
      
        line-height: 1.5;
        font-size: 26px;
       
    }
    .backg{
        padding: 20px;
        /* color: whitesmoke; */
        background-color: var(--secondColor);
        border-radius: 50px;
       position: relative;
       top: 100px;
    }
    .backg .details{
        position: relative;
        bottom: 80px;
        display: block;
        color: whitesmoke;
        /* background-color: yellow; */
    }
	/* .backg .details h2{} */
    .backg .details p{
        color: whitesmoke;
        font-size: 16px;
    }
    .backg .easy-img{
        width:75%;
        height: 75%;
       margin: auto;
    }
  
   .parent {
	clip-path: polygon(0% 0%, 100% 0%, 93% 86%, 0% 100%);}

	.easyTitle {
		
		font-size: 22px;
		font-weight: 700;
		/* background-color: red; */
		padding: 40px;
		margin-top: 50px;
		/* color: aqua; */
	}
	.freq{
		position: relative;
		top: -300px;
	}
	.questions .container,footer{
		position: relative;
		top: -200px;
	}
	
	body{
		height: 2000px;
	}
	footer .col-one{
		text-align: center;
		/* background-color: red; */
	}
	footer .img {
		
		margin: 50px auto 20px auto;
		/* background-color: violet; */
	}
}

.questions h3{
    text-align: left;
}
.freq{
    position: relative;
    bottom: 100px;
}

select{
	outline: none;
}
#en,#ar{

	color: gray;
}
/* select {
    width: 150px;
    padding: 5px;
    font-size: 16px;
    line-height: 1.5;
    border: 0;
    border-radius: 5px;
    height: 37px;
    background: url(http://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/br_down.png) no-repeat right rgb(250, 250, 250);
    -webkit-appearance: none;
    background-position-x: 120px;
} */
.Privacy{
	color: gray;
	font-family: 'Cairo';

}
.Privacy button{
	color: honeydew;
	font-size: 16px;
}
.Privacy .modal-title{
	color: var(--secondColor);
	font-size: 28px;
}
.modal-footer .btn{
	background-color: var(--secondColor);
}

.modal-body h3{
	font-size: 22px;
	color:var(--secondColor)
}

#slider {
    /*height: 350px;
    overflow: hidden;
    width: 100%;*/
}


.carousel-item {
	/* margin: 50px 0 10px 80px; */
    /* width: 50%;
    height: 50%; */
	/* background-color: violet; */
	
    /* margin-left: auto; */

   /* margin: auto; */
    /* height: 1000px; */

}
.final-img img{
    width: 100%;
    height: 100%;
}
.active{
 /* background-color: red; */
}
.carousel-indicators li {
    width: 10px;
    height: 10px;
    border-radius: 100%;
    background-color: var(--mainColor);
}
.carousel-indicators {
    bottom: -50px;
}

body {
    /* background-color: lightslategray; */
}
.container div{
   /* position: relative;
   left: 30%; */
}
.container-final{
	/* text-align: center; */
	/* margin-left: 100px; */
	/* background-color: violet; */
	width: 100%;
	height: 100%;
}
.carousel-inner{
	width: 100%;
	height: 100%;
	/* background-color: red; */
}
.final-title{
	font-size: 18px;
	font-weight: 900;
}
.md-info{
	/* background-color: red; */
}
.tik{
	/* background-color: rgb(221, 216, 216); */
	width: 100%;
	margin-left: 30px;
	/* margin: auto; */
	/* text-align: left; */
}
body{
	/* background-color: rosybrown; */
}

body{
	/* overflow-y: hidden; */
/* height: 90%; */

	/* overflow-y: auto; */
	overflow-x: hidden;
	/* overflow-y: visible; */

	
}

